li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: rgb(30, 0, 139);
    align-content: center;
    text-align: left;
}

body {
    border-left: 4em solid white;
    border-right: 4em solid white;
}

p {
    color: black;
    text-align: center;
}

p a {
    border: 1mm solid white;
}

ul {
    margin: 0 auto;
    font-size: large;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 5px;
    text-align: left;
}

.image {
    display: block;
    align-content: center;
}

.bar {
    width: 100%;
    height: 1px;
    border-style: solid;
    border-color: rgb(112, 41, 99);
    background-color: white;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}