@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homework 8</h1>
    <p class="lead">Homework</p>
    <p><a href="https://wou-cs46x-resources.netlify.com/cs460/hw/hw8" class="btn btn-primary btn-lg">See Homework &raquo;</a></p>
</div>

<div class="row">
    @Html.ActionLink("View athlete details", "Details")
</div>