@model IEnumerable<hw6.Models.StockItem>


@{
    ViewBag.Title = "Search";
}

<h1>Search</h1>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-12">
            @*@Html.TextBoxFor(model => model.StockItemName, new { @class="form-control", type = "text", required = "required", placeholder = "Search by stock item name", style="width:100%" })*@
            @Html.TextBox("name", null, new { @class = "form-control", type = "text", required = "required", placeholder = "Search by stock item name", style = "width:100%" })
        </div>
    </div>
}

@if (ViewBag.Success == true)
{


    <div class="row">
        @if (Model.Count() == 0)
        {
            <p>No results, try again</p>
        }
        else
        {
            <table class="table-striped">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(item.StockItemName, "details", "StockItem", new { id = item.StockItemID }, null )</td>
                            @*<td>@Html.ActionLink(@item.StockItemName, "Details", "StockItem", new { id = item.StockItemID }) </td>*@
                        </tr>
                    }
                </tbody>
            </table>

        }

    </div>
}
@*<div class="row">
        @if (ViewBag.Success == true)
        {
            if (Model.Count() == 0)
            {
                <p>Not found, try again</p>
            }
            else {
            }

            <table class="table table-striped">

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item
                        </td>

                    </tr>

                }
            </table>
        }

    </div>*@

