@model IEnumerable<hw6.Models.StockItem>

@{
    ViewBag.Title = "Wide World Importers";
}


<h1>Search</h1>

@using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-lg-12">
                @Html.TextBox("item", null, new { @class = "form-control", type = "text", required = "required", placeholder = "Search by stock item name", style="width:100%" })
            </div>
        </div>
    }